.view-content {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom right, #044a04, #008a00, #044a04);

  .header {
    font-family: Impact, Charcoal, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 40px;
    color: white;
    border: white solid 5px;
    margin-top: 16px;
  }

  .padding {
    padding: 4px 16px;
  }

  .rounded-border {
    border-radius: 5px;
  }

  .darker-background {
    background-color: rgba(0, 0, 0, 0.4);
  }

  .status-icon {
    font-size: 100px;
    color: gray;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
  }

  .fields {
    input {
      height: 40px;
      width: 40px;
      margin: 0 8px 8px 8px;
      font-size: 200%;
      text-align: center;
      font-family: Impact, Charcoal, sans-serif;
    }
  }

  .label {
    font-family: Impact, Charcoal, sans-serif;
    text-transform: uppercase;
    font-size: 32px;
    letter-spacing: 2px;
    margin: 8px 0;
  }

  .white{
    color: white;
  }
  .black{
    color: black;
  }
  .yellow{
    color: yellow;
  }

  .hint{
    width: 200px;
    margin: 16px
  }
}
