<div class="view-content" fxLayout="column" fxLayoutAlign="start center">
  <div class="header darker-background rounded-border padding">Crack the code</div>
  <fa [name]="status" class="status-icon"></fa>
  <div class="fields" fxLayout="row">
    <input [(ngModel)]="codes['0']" (keypress)="validateCode(0, $event)" maxlength="1" #editable class="rounded-border"/>
    <input [(ngModel)]="codes['1']" (keypress)="validateCode(1, $event)" maxlength="1" #editable class="rounded-border"/>
    <input [(ngModel)]="codes['2']" (keypress)="validateCode(2, $event)" maxlength="1" #editable class="rounded-border"/>
  </div>

  <div class="label black">Code</div>
  <div class="label white">A Numeric lock has a 3 digit key</div>
  <div class="label yellow darker-background rounded-border padding">Hint</div>

  <div fxLayout="row wrap" fxLayoutAlign="center">
    <div class="hint darker-background rounded-border padding">
      <div class="fields" fxLayout="row">
        <input value="6" class="rounded-border" disabled/>
        <input value="8" class="rounded-border" disabled/>
        <input value="2" class="rounded-border" disabled/>
      </div>
      <div class="white">One number is correct and well placed</div>
    </div>
    <div class="hint darker-background rounded-border padding">
      <div class="fields" fxLayout="row">
        <input value="6" class="rounded-border" disabled/>
        <input value="1" class="rounded-border" disabled/>
        <input value="4" class="rounded-border" disabled/>
      </div>
      <div class="white">One number is correct and but wrong placed</div>
    </div>
    <div class="hint darker-background rounded-border padding">
      <div class="fields" fxLayout="row">
        <input value="2" class="rounded-border" disabled/>
        <input value="0" class="rounded-border" disabled/>
        <input value="6" class="rounded-border" disabled/>
      </div>
      <div class="white">Two numbers are correct but wrong placed</div>
    </div>
    <div class="hint darker-background rounded-border padding">
      <div class="fields" fxLayout="row">
        <input value="7" class="rounded-border" disabled/>
        <input value="3" class="rounded-border" disabled/>
        <input value="8" class="rounded-border" disabled/>
      </div>
      <div class="white">Nothing is correct</div>
    </div>
    <div class="hint darker-background rounded-border padding">
      <div class="fields" fxLayout="row">
        <input value="7" class="rounded-border" disabled/>
        <input value="8" class="rounded-border" disabled/>
        <input value="0" class="rounded-border" disabled/>
      </div>
      <div class="white">One number is correct and wrong placed</div>
    </div>
  </div>


</div>
